*{
    margin: 0;
}
.logo {
    margin: 40px 0 0 30px;
    height: 60px;
    width: 60px;
}
.bg{
    height: 100%;
    width: 100%;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.over-black{
    height: 720px;
    width: 100%;
    background-color: #000000c7;
}
.over-white{
    height: 1850px;
    width: 100%;
    background-color: #ffffff69;
}
ul{
    margin: -40px 0 0 0;
    padding: 0;
    /background: red;
    overflow: hidden;
    position: absolute;
    right: 0;
}
ul li{
    display: inline-block;
    list-style-type: none;
    padding: 12px 30px;    
}
ul li a{
    text-transform: uppercase;
    color: white;
    padding: 12px;
    margin: 0 5px 0 0 ;
}
/*ul li:hover{
    display: inline-block;
    list-style-type: none;
    padding: 12px 30px;
    background: #76c38f;
    border-radius: 20px;
}*/
ul li a:hover{
    text-transform: uppercase;
    color: #121212;
    text-decoration: none;
    background: #76c38f;
    border-radius: 15px;
    transition: .65s;
}
.cur-title{
    margin-top: 150px;
    font-size: 60px;
    color: #e3e3e3;
    text-align: justify;
    font-family: sans-serif;
    text-transform: capitalize;
}
.cur-dis{
    color: #6f6f6f;
    font-size: 17px;
    text-align: justify;
}
p a{
    margin-top: 45px;
    height: 100px;
    color: #333;
    display: inline-block;
    text-transform: capitalize;
}
buttom{
    padding: 15px 50px;
    background: #76c38f;
    border-radius: 8px;
}
buttom:hover{
    background: #f1f1f1;
    border-radius: 15px;
    transition: .55s;
    transform: scale(1.11);
}
p a:hover{
    color: #333;
    text-decoration: none;
    transition: .55s;
}
.pro-img{
    margin: 150px 0 0 100px;
    height: 430px;
    border: 15px solid #6b6b6bbf;
    border-radius: 50%;
}
.in-block{
    display: inline-block;
}
.services-01{
    height: 500px;
    background: #fff;
}
.services-01:hover{
    height: 500px;
    background: #76c38f;
    transition: 1.2s;
}
.services-01:hover .ser-01{
    transform: scale(1.2);
    text-align: center;
    transition: 1.3s;
}
.services-02:hover{
    height: 500px;
    background: #76c38f;
    transition: 1.2s;
}
.services-02:hover .ser-02{
    transform: scale(1.2);
    text-align: center;
    transition: 1.3s;
}
.services-03:hover{
    height: 500px;
    background: #76c38f;
    transition: 1.2s;
}
.services-03:hover .ser-03{
    transform: scale(1.2);
    text-align: center;
    transition: 1.3s;
}
.services-04:hover{
    height: 500px;
    background: #76c38f;
    transition: 1.2s;
}
.services-04:hover .ser-04{
    transform: scale(1.2);
    text-align: center;
    transition: 1.3s;
}
.services{
    padding: 200px 0 200px 0;
}
.ser-01-title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}
.ser-01-title-dis{
    margin: 10px;
    font-size: 18px;
    text-align: justify;
}
.ser-01{
    font-size: 170px;
    text-align: center;
}
.services-02{
    height: 500px;
    background: #fff;
}
.ser-02-title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}
.ser-02-title-dis{
    margin: 10px;
    font-size: 18px;
    text-align: justify;
}
.ser-02{
    font-size: 170px;
    text-align: center;
}
.services-03{
    height: 500px;
    background: #fff;
}
.ser-03-title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}
.ser-03-title-dis{
    margin: 10px;
    font-size: 18px;
    text-align: justify;
}
.ser-03{
    font-size: 170px;
    text-align: center;
}
.services-04{
    height: 500px;
    background: #fff;
}
.ser-04-title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}
.ser-04-title-dis{
    margin: 10px;
    font-size: 18px;
    text-align: justify;
}
.ser-04{
    font-size: 170px;
    text-align: center;
}
.str-lw{
    height: 3px;
    width: 350px;
    background: #1b1b1b;
    display: inline-block;
}
.lw{
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    background: #1b1b1b;
    border-radius: 10px;
}
.lw-text{
    text-align: center;
}
.lw-se-01{
    margin: 100px 0 0 0;
    
}
.se-1{
    height: 300px;
    background-image: url('../images/se-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter:saturate(.0);
    border: 10px solid #333; 
    background-position: center;
}
.se-1:hover{
    opacity: .65;
    transform: scale(1.05);
    transition: .55s;
}
.se-2:hover{
    opacity: .65;
    transform: scale(1.05);
    transition: .55s;
}
.se-3:hover{
    opacity: .65;
    transform: scale(1.05);
    transition: .55s;
}
.se-2{
    height: 300px;
    background-image: url('../images/se-2.jpg');
    background-size: cover;
    margin: 0 25px;
    background-repeat: no-repeat;
    filter:saturate(.0);
    border: 10px solid #333; 
    background-position: center;
}
.se-3{
    height: 300px;
    background-image: url('../images/se-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter:saturate(.0);
    border: 10px solid #333; 
    background-position: center;
}


.lw-se-02{
    margin: 100px 0 0 0;
    
}
.se-4{
    height: 300px;
    background-image: url('../images/se-4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter:saturate(.0);
    border: 10px solid #333;
    background-position: center; 
}
.se-4:hover{
    opacity: .65;
    transform: scale(1.05);
    transition: .55s;
}
.se-5:hover{
    opacity: .65;
    transform: scale(1.05);
    transition: .55s;
}
.se-6:hover{
    opacity: .65;
    transform: scale(1.05);
    transition: .55s;
}
.se-5{
    height: 300px;
    background-image: url('../images/se-05.jpg');
    background-size: cover;
    margin: 0 25px;
    background-repeat: no-repeat;
    filter:saturate(.0);
    border: 10px solid #333; 
    background-position: center;
}
.se-6{
    height: 300px;
    background-image: url('../images/se-6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter:saturate(.0);
    border: 10px solid #333;
    background-position: center;
}
.footer{
    background: #313131;
    height: 350px;
}
.copyright{
    background: #2b2b2b;
    height: 50px;
}
.ft-1{
    
}
.ft-se-1-title{
    padding: 0 20px;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    color: #76c38f;
    padding-top: 50px;
}
.ft-se-1-title-dis{
    padding: 0 20px;
    font-size: 18px;
    text-align: justify;
    color: white;
}
.ft-se-2-title{
    
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    margin: 50px 0 20px 0;
}
.ft-2  p{
    color: #76c38f;
    text-transform: capitalize;
    font-size: 18px;
    text-align: justify;
    padding: 5px 0;
    margin: 0;
}

.ft-se-3-title{
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    color: #76c38f;
    margin: 50px 0 20px 0;
}
.ft-se-4-title{
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    color: #fff;
    margin: 50px 0 20px 0;
}
.ft-3-se-1-title-dis{
    font-size: 18px;
    text-align: justify;
    color: white;
}
.ft-3-se-2-title-dis{
    font-size: 18px;
    text-align: justify;
    color: white;
}
input{
    background: #222222;
    border-radius: 6px;
    padding: 3px;
    margin: 10px 0;
    color: #fff;
    border-style: none;
    display: block;
}

.ms{
    padding: 20px 10px;
    color: #fff;
    border-style: none;
    display: block;
}
.sub{
    padding: 5px 10px;
    background: #76c38f; 
    color: #333;
}
.sub:hover{
    background: #fff;
    color: #333;
    transition: .55s;
}
.copyright{
    color: #5f5f5f;
    text-align: center;
    padding: 10px;
}


















