*{
    margin: 0;
    padding: 0;
}
.wrap h2{
    text-align: center;
    color: #fff;
    text-transform: initial;
    background: #222222;
}
.wrap{
    text-align: justify;
    color: #fff;
    text-transform: initial;
    background: #222222;
}
boby{
    font-family: monospace;
    text-align: center;
}
.wrapper{
    width: 90%;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 100px;
    background:#c0392b;
}
.logo{
    width: 30%;
    float: left;
    text-align: left;
    line-height: 100px;
}
.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
    color: #fff;
    /* letter-spacing: 2px; */
}
nav{
    float: right;
    line-height: 100px;
}
nav a{
    text-decoration: none;
    font-family:monospace;
    letter-spacing: 1px;
    font-size: 20px;
    color: #fff;
    padding: 36px 10px;
    margin: 1px;
    font-weight: 700;
}

nav a:hover{
    background: #fff;
    color: #130f40;
     
}
.banner-area{
    background-image: url(IMG/IMG01.jpg);
    background-size: cover;
    background-position: center center;
    top: 100px;
    height: 100vh;
    width: 100%;
    position: fixed;
}
.banner-area::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #130f40;
    opacity: 0.7;
    z-index: -1;
}
.banner-area h2{
    background-image: url(IMG/Banner_text.png);
    padding-top: 5% ;
    margin: 160px 220px;
    font-family:monospace;
    text-align: right;
    background-size: cover;
    font: 550px;
    color: #fff;
}
.content-area{
    font-family:monospace;
    width: 100%;
    height: 800px;
    position: relative;
    background: #fff;
    top: 600px;
}
.content-area h2{
    font-size: 40px;
    margin: 0;
    padding-top: 30px;
    letter-spacing: 4px;
}
.content-area param{
    padding: 2% 0;
    line-height: 35px;
    text-align: justify;
}