body{
    padding: 70px 0;
    text-align: center;
    border: 3px solid green;
}
label{
    margin: 0 0 0 700px;
    text-align: left;
    display: block;
}
label p{
    display: inline-block;
}
div label{
    font-size: large;
}
